.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $defaul-site-color;
    color: $defaul-text-color;
    font-size: $base-font-size;

    &__wrapper {
        margin: 10px;
        background-color: lighten($color: $defaul-elements-color, $amount: 10%);
        padding: $tags-separator-desktop;
        box-shadow: 0px 0px 25px 0px lighten($color: $defaul-elements-color, $amount: 10%);
        border-radius: 15px;

        & > form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & > div input {
                padding: 10px;
                border-radius: 0;
                border: 0;
                width: 100%;
                height: 50px;
                outline: none;
                background-color: $defaul-elements-color;
                border: 3px solid navajowhite;
                color: $defaul-text-color;
                font-size: $large-font-size;
                transition: 0.3s;

                &:focus {
                    border-color: darken($color: navajowhite, $amount: 10%);
                    outline: none;
                }
            }

            & > div button {
                width: 100%;
                height: 50px;
                padding: 10px;
                background-color: navajowhite;
                border: none;
                font-size: $large-font-size;
                text-transform: uppercase;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: darken($color: navajowhite, $amount: 5%);
                }
            }
        }
    }

    &__statute {
        display: flex;

        .statute {
            margin: 0;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }

        span {
            margin-left: 10px;
        }
    }

    &__title {
        width: 100%;
        text-align: center;
        font-size: $xlarge-font-size;
    }

    &__link {
        color: navajowhite;
        text-decoration: none;

        &:hover {
            color: darken($color: navajowhite, $amount: 5%);
        }
    }

    &__create-new-account {
        margin-top: 20px;
        text-align: center;
    }

    &__error-wrapper {
        max-width: 318px;
        color: red;
    }

    &__success-wrapper {
        margin: 10px;
        background-color: lighten($color: $defaul-elements-color, $amount: 10%);
        padding: $tags-separator-desktop;
        box-shadow: 0px 0px 25px 0px lighten($color: $defaul-elements-color, $amount: 10%);
        border-radius: 15px;
    }

    &__success-title {
        text-align: center;
        font-size: $xlarge-font-size;
        color: $defaul-text-color;
    }

    &__success-button {
        font-size: $xlarge-font-size;
        text-decoration: none;
        color: navajowhite;
    }

    &__user-name {
        color: navajowhite;
    }
}

.logout_button {
    margin-top: 20px;
    background-color: navajowhite;
    border: none;
    width: 100%;
    font-size: $xlarge-font-size;
    padding: $tags-separator-mobile;
    cursor: pointer;

    &:hover {
        background-color: darken($color: navajowhite, $amount: 10%);
    }
}
