header.shop-header {
    height: 100px;
}

video {
    background-color: $defaul-elements-color;
    padding-top: 100px;
}

.commercial-baner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 50vw);
    grid-gap: 5px;
    margin: 0 auto;
    padding: 5px;
    padding-top: 105px;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: hsla(0, 0%, 12%, 0.5);
        backdrop-filter: blur(10px);
        transition: 0.5s;
        color: $defaul-text-color;
        text-align: center;

        span {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            padding: 10%;
            font-size: $small-font-size;

            @include media-min-width(large) {
                font-size: $large-font-size;
            }
        }
    }

    div {
        position: relative;
        transition: 0.3s;
        cursor: pointer;

        &:hover .overlay {
            opacity: 1;
        }
    }

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__baner-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    &__baner-2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__baner-3 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    &__baner-4 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    &__baner-5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    @include media-min-width(small) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 25vw);

        &__baner-1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &__baner-2 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        &__baner-3 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        &__baner-4 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }

        &__baner-5 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }

    @include media-min-width(xmedium) {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(6, 5vw);

        &__baner-1 {
            grid-column-start: 1;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 7;
        }

        &__baner-2 {
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &__baner-3 {
            grid-column-start: 8;
            grid-column-end: 10;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &__baner-4 {
            grid-column-start: 6;
            grid-column-end: 8;
            grid-row-start: 4;
            grid-row-end: 7;
        }

        &__baner-5 {
            grid-column-start: 8;
            grid-column-end: 10;
            grid-row-start: 4;
            grid-row-end: 7;
        }
    }

    @include media-min-width(medium) {
        grid-gap: 10px;
        padding: 10px;
        padding-top: 110px;
    }
}
