.shop-main {
    &__recommended-products {
        margin: $tags-separator-mobile $margin-mobile;

        @include media-min-width(xmedium) {
            margin: $tags-separator-desktop $margin-desktop;
        }

        &-container {
            max-width: 1440px;
            display: flex;
            flex-direction: column;
            gap: $tags-separator-desktop;
        }

        &-header {
            display: flex;
            padding: 0 $margin-desktop / 2;
            justify-content: space-between;
            align-items: center;
            gap: $margin-desktop;
            flex-wrap: wrap;

            &-text {
                text-transform: uppercase;
                font-size: $xlarge-font-size;
                font-weight: 700;

                &--anchor {
                    font-size: $base-font-size;
                    @include subtelHover;

                    a {
                        all: unset;
                    }
                }
            }
        }
    }
}
