.shop-main {
    &__new-products {
        margin: $tags-separator-mobile $margin-mobile;

        @include media-min-width(xmedium) {
            margin: $tags-separator-desktop $margin-desktop;
        }

        &-container {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: $tags-separator-desktop;
        }

        &-header {
            display: flex;
            padding: 0 10px;
            justify-content: space-between;
            gap: $margin-desktop;
            flex-wrap: wrap;

            &-text {
                text-transform: uppercase;
                font-size: $xlarge-font-size;
                font-weight: 700;
            }
        }

        &-nav {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: $margin-desktop $tags-separator-desktop;

                li {
                    font-size: $base-font-size;
                    border-bottom: 1px solid $defaul-site-color;
                    cursor: pointer;

                    &:hover {
                        border-bottom: 2px solid red;
                    }
                }
            }
        }
    }
}
