.nav {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999;
    background-color: rgba($color: $defaul-elements-color, $alpha: 0.95);
    font-size: $base-font-size;
    color: $defaul-text-color;

    &__container {
        max-width: 1920px;
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;

        @include media-min-width(medium) {
            grid-template-columns: 2fr 5fr 2fr;
        }
    }

    &__logo {
        width: 150px;
        height: 100px;
        overflow: hidden;
        transition: 0.3s;
        cursor: pointer;

        img {
            transition: 0.3s;
            width: 150px;
            height: 100px;
        }

        &--after-scroll {
            width: 150px;
            height: 50px;
            overflow: hidden;
            transition: 0.3s;
            cursor: pointer;

            img {
                transition: 0.3s;
                height: 60px;
            }
        }

        @include media-min-width(small) {
            width: 200px;
            height: 100px;

            img {
                width: 200px;
                height: 120px;
            }
        }
    }

    &__burger {
        order: 3;
    }

    &__menu,
    &__options {
        ul {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
        }

        li {
            width: 20%;
            text-align: center;
            @include subtelHover;
        }

        a {
            text-decoration: none;
            color: $defaul-text-color;
        }
    }

    &__menu {
        display: none;

        @include media-min-width(medium) {
            display: block;
        }

        a {
            padding: 5%;

            &:first-of-type {
                padding: 0;
            }
        }
    }

    &__options {
        li {
            width: 50% !important;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            font-size: $large-font-size;
            transition: transform 0.3s;

            @include media-min-width(small) {
                font-size: $xlarge-font-size;
            }

            @include media-min-width(medium) {
                font-size: $large-font-size;
            }

            &.after-scroll {
                font-size: $large-font-size;
            }
        }

        span {
            display: none;
            width: 100%;
            height: $large-font-size;
            transition: transform 0.3s;

            @include media-min-width(large) {
                display: block;
            }

            &.after-scroll {
                display: none;
            }
        }
    }
}
