.scroll-btn {
    z-index: 999;
    display: none;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: rotateX(0deg) translateX(-50%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: $defaul-elements-color;
    font-size: $large-font-size * 1.5;
    color: $defaul-text-color;
    cursor: pointer;

    @include media-min-width(xmedium) {
        display: block;
    }
}
