.slider-v3 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    &-container {
        display: flex;
        flex-wrap: nowrap;
        transition: transform 0.5s ease-in-out;
        transform: translateX(0);
    }

    &-item {
        background-color: #ffdead;
        flex: 0 0 calc(100% / 5);
        margin: $margin-mobile;
        box-sizing: border-box;

        @media screen and (max-width: 1200px) {
            flex: 0 0 calc(100% / 3);
        }

        @media screen and (max-width: 768px) {
            flex: 0 0 calc(100% / 2);
        }

        @media screen and (max-width: 480px) {
            flex: 0 0 100%;
        }
    }

    &-button {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background: transparent;
        font-size: 2rem;
        cursor: pointer;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }
}
