.about-main {
    background-color: $defaul-elements-color;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        padding-top: calc(100px + $tags-separator-mobile);
        padding: $margin-mobile;

        @include media-min-width(medium) {
            padding-top: calc(100px + $tags-separator-desktop);
            padding: $tags-separator-desktop;
        }
    }

    &__text {
        color: $defaul-text-color;
        font-size: $medium-font-size;
        font-weight: bolder;

        @include media-min-width(xmedium) {
            font-size: $large-font-size;
        }
    }
}
