.page-header {
    position: relative;
    height: 100%;

    .video-text-field {
        position: absolute;
        top: 0;
        bottom: 5px;
        left: 0;
        right: 0;
        padding: 5%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: $defaul-elements-color, $alpha: 0.5);
        color: $defaul-text-color;

        @include media-min-width(medium) {
            display: block;
            font-size: $large-font-size;
            padding: 10%;
        }

        @include media-min-width(xmedium) {
            font-size: $large-font-size * 1.5;
        }

        @include media-min-width(large) {
            padding: 15%;
            padding-top: 10%;
        }

        h1 {
            display: block;
            font-size: 4vw;
            font-weight: 100;
            user-select: none;
            cursor: default;

            @include media-min-width(medium) {
                font-size: $xlarge-font-size;
            }

            @include media-min-width(large) {
                font-size: $giga-font-size;
            }
        }
    }
}
