.main {
    &__quote {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 50vh;
        max-width: 95vw;
        position: relative;
        display: block;
        margin: $tags-separator-mobile 0;

        @include media-min-width(xsmall) {
            height: $img-xsmall-height * 3.5;
        }

        @include media-min-width(small) {
            max-width: 90vw;
            margin: $tags-separator-mobile;
            height: $img-small-height * 3;
        }

        @include media-min-width(medium) {
            max-width: 768px;
            height: $img-medium-height * 1.75;
        }

        @include media-min-width(xmedium) {
            max-width: 1024px;
            height: $img-medium-height * 2;
            margin: $tags-separator-desktop;
        }

        @include media-min-width(large) {
            max-width: 1440px;
            height: $img-large-height * 1.86;
        }

        div:nth-child(1) {
            z-index: 2;

            @include media-min-width(xsmall) {
                left: 0;
                top: calc($img-xsmall-height / 1.25);
            }

            @include media-min-width(small) {
                left: 5%;
                top: calc($img-small-height / 1.375);
            }

            @include media-min-width(medium) {
                top: calc($img-medium-height / 2.5);
            }

            @include media-min-width(xmedium) {
                left: 10%;
                top: calc($img-xmedium-height / 3);
            }

            @include media-min-width(large) {
                top: calc($img-xmedium-height / 2);
            }
        }

        div:nth-child(2) > picture > img {
            @include media-min-width(xsmall) {
                right: 1%;
            }

            @include media-min-width(small) {
                right: 5%;
            }

            @include media-min-width(xmedium) {
                right: 10%;
            }
        }

        div:nth-child(3) {
            z-index: 3;

            @include media-min-width(xsmall) {
                left: 0;
                top: calc($img-xsmall-height * 2.5);
            }

            @include media-min-width(small) {
                left: 5%;
                top: calc($img-small-height * 2.175);
            }

            @include media-min-width(medium) {
                top: calc($img-medium-height * 1.15);
            }

            @include media-min-width(xmedium) {
                left: 10%;
                top: $img-xmedium-height;
            }

            @include media-min-width(large) {
                top: calc($img-medium-height / 0.5);
            }
        }

        div:nth-child(4) > picture > img {
            z-index: 2;

            @include media-min-width(xsmall) {
                right: 1%;
                top: calc($img-xsmall-height * 1.65);
            }

            @include media-min-width(small) {
                right: 5%;
                top: calc($img-small-height * 1.5);
            }

            @include media-min-width(medium) {
                top: calc($img-medium-height / 1.25);
            }

            @include media-min-width(xmedium) {
                right: 10%;
                top: calc($img-xmedium-height / 1.5);
            }

            @include media-min-width(large) {
                top: calc($img-xmedium-height);
            }
        }
    }

    &__quote-textbox {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin: $margin-mobile;
        border: 1px solid $defaul-elements-color;
        background-color: $defaul-elements-color;
        padding: $margin-mobile;
        box-shadow: 0px 1px 30px -10px rgba(66, 68, 90, 1);

        @include media-min-width(xsmall) {
            position: absolute;
            box-shadow: -15px 15px 30px -10px $defaul-elements-color;
            width: calc($img-xsmall-width * 0.9);
            height: calc($img-xsmall-height * 0.9);
        }

        @include media-min-width(small) {
            width: calc($img-small-width / 1.25);
            height: calc($img-small-height / 1.25);
        }

        @include media-min-width(medium) {
            width: calc($img-medium-width / 1.75);
            height: calc($img-medium-height / 1.75);
        }

        @include media-min-width(xmedium) {
            width: calc($img-xmedium-width / 2);
            height: calc($img-xmedium-height / 2);
            padding: $margin-desktop;
        }

        @include media-min-width(large) {
            width: calc($img-large-width / 1.7);
            height: calc($img-large-height / 1.7);
        }
    }

    &__quote-text {
        font-size: base-font-size;
        font-weight: bold;
        color: $defaul-text-color;

        @include media-min-width(xmedium) {
            font-size: $large-font-size;
        }
    }

    &__quote-picture {
        margin: $margin-mobile;
    }

    &__quote-img {
        width: 90vw;
        position: relative;
        box-shadow: 0px 1px 30px -10px rgba(66, 68, 90, 1);

        @include media-min-width(xsmall) {
            box-shadow: 15px -15px 30px -10px $defaul-elements-color;
            position: absolute;
            width: calc($img-xsmall-width * 0.9);
            height: calc($img-xsmall-height * 0.9);
        }

        @include media-min-width(small) {
            width: calc($img-small-width / 1.25);
            height: calc($img-small-height / 1.25);
        }

        @include media-min-width(medium) {
            width: calc($img-medium-width / 1.75);
            height: calc($img-medium-height / 1.75);
        }

        @include media-min-width(xmedium) {
            width: calc($img-xmedium-width / 2);
            height: calc($img-xmedium-height / 2);
        }

        @include media-min-width(large) {
            width: calc($img-large-width / 1.7);
            height: calc($img-large-height / 1.7);
        }
    }
}
