.main {
    &__gallery {
        max-width: 1920px;
        &-article {
            position: relative;
            display: flex;
            flex-direction: column;

            @include media-min-width(small) {
                flex-direction: row;
                justify-content: space-between;
            }

            &:nth-child(2) {
                p {
                    text-align: left;
                    margin-left: 0;
                    margin-right: $margin-desktop;

                    @include media-min-width(small) {
                        text-align: right;
                    }
                }
            }
        }

        &-text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            &:nth-child(1n) {
                order: 1;

                @include media-min-width(small) {
                    order: 0;
                }
            }

            @include media-min-width(small) {
                width: 70%;
            }

            p {
                font-size: $large-font-size;
                font-weight: 100;
                padding: $margin-mobile;
                font-size: 5vw;
                text-align: right;

                @include media-min-width(small) {
                    font-size: 3vw;
                    text-align: left;
                    margin-left: $margin-desktop;
                }

                @include media-min-width(medium) {
                    font-size: 2.5vw;
                }

                @include media-min-width(xmedium) {
                    padding: $tags-separator-mobile;
                    font-size: $large-font-size;
                }
            }
        }

        &-img {
            width: 100%;
            font-size: 0;
            clip-path: polygon(25% 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 50%);

            @include media-min-width(small) {
                width: 93.5%;
                transition: 0.3s;

                &:hover {
                    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 25% 50%);
                }
            }

            &:nth-child(1) {
                clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%, 0 50%);

                @include media-min-width(small) {
                    width: 93.5%;
                    transition: 0.3s;

                    &:hover {
                        clip-path: polygon(0 0, 100% 0, 75% 50%, 100% 100%, 0 100%, 0 50%);
                    }
                }
            }
        }
    }
}
