@import "./Main_header";
@import "./Main_gallery";
@import "./Main_weather";
@import "./Main_text-content";
@import "./Main_quote";

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
