.main {
    &__weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: $tags-separator-mobile;

        @include media-min-width(xmedium) {
            margin: $tags-separator-desktop;
        }
    }

    &__info {
    }

    &__current-weather {
    }
}
