.main {
    &__opinions {
        &-img {
            margin: $margin-desktop;
            margin-bottom: $margin-mobile;
            img {
                border-radius: 50%;
            }
        }

        &-name {
            text-align: center;
            margin: $margin-mobile;

            span {
                font-size: $large-font-size;
                font-weight: 700;
                color: $unique-text-color;
            }
        }

        &-comment {
            margin: $margin-desktop;
            text-align: center;
            p {
                font-size: $base-font-size;
                font-weight: 100;
            }
        }
    }
}
