@mixin subtelHover {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

@mixin buttonHoverDarken {
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: darken($green-color, 7.5%);
    }
}

@mixin buttonHover {
    transition: 0.1s;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 0.7;
    }
}

@mixin formInput {
    width: 100%;
    border: 2px solid $defaul-text-color;
    border-radius: 5px;
    background-color: $defaul-elements-color;
    color: $defaul-text-color;
    font-size: $base-font-size;
    padding: $margin-mobile;
    margin: $margin-mobile;
}
