$giga-font-size: 3rem;
$xlarge-font-size: 2rem;
$large-font-size: 1.5rem;
$base-font-size: 1.1rem;
$medium-font-size: 0.9rem;
$small-font-size: 0.8rem;

$defaul-text-color: hsl(0, 0%, 95%);
$defaul-text-color-black: hsl(0, 0%, 12%);
$defaul-site-color: rgb(245, 245, 245);
$defaul-elements-color: #1f1f1f;

$margin-mobile: 0.5rem;
$margin-desktop: 1rem;

$tags-separator-mobile: 2.5rem;
$tags-separator-desktop: 5rem;
