$giga-font-size: 3rem;
$xlarge-font-size: 2rem;
$large-font-size: 1.5rem;
$base-font-size: 1.1rem;
$medium-font-size: 0.9rem;
$small-font-size: 0.8rem;

$defaul-text-color: hsl(0, 0%, 95%);
$defaul-text-color-black: hsl(0, 0%, 12%);
$defaul-site-color: rgb(245, 245, 245);
$defaul-elements-color: #1f1f1f;
$unique-text-color: #ffdead;
$green-color: rgb(25, 150, 25);

$margin-mobile: 0.5rem;
$margin-desktop: 1rem;

$tags-separator-mobile: 1.25rem;
$tags-separator-desktop: 2.5rem;

$img-under-minimum-width: 213px;
$img-xsmall-width: 304px;
$img-small-width: 404px;
$img-medium-width: 640px;
$img-xmedium-width: 854px;
$img-large-width: 1024px;

$img-under-minimum-height: 140px;
$img-xsmall-height: 171px;
$img-small-height: 228px;
$img-medium-height: 360px;
$img-xmedium-height: 480px;
$img-large-height: 576px;
