.forum-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 125px;
    background-color: $defaul-site-color;

    a {
        text-decoration: none;
        color: $defaul-text-color;
    }

    &__post {
        display: grid;
        grid-template-columns: 10fr 2fr;
        justify-content: space-between;
        width: 95vw;
        background-color: $defaul-elements-color;
        padding: $tags-separator-mobile;
        box-shadow: 0px 0px 25px 0px $defaul-elements-color;
        border-radius: 15px;
        margin-bottom: 25px;
        color: $defaul-text-color;
    }

    &__post-header {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__post-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        grid-row: span 2;
    }

    &__post-content {
        margin-top: $tags-separator-desktop;
    }

    &__post-user {
        color: navajowhite;
    }

    // Comments

    &__comment {
        grid-template-columns: 1fr;
    }

    &__comment-text-wrapper {
        margin-top: $margin-desktop;
    }

    &__comment-info {
        display: flex;
        flex-direction: row;
        grid-row: 1;
    }
}
