.forum-main {
    background-color: $defaul-elements-color;
    padding-top: 200px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .najman {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-txt {
            padding: $margin-desktop;
            text-align: center;
            font-size: 4vw;
            font-weight: bolder;
            color: white;

            @include media-min-width(xmedium) {
                top: 20%;
                font-size: 2.5vw;
            }
        }

        img {
            width: 50%;
        }
    }
}
